<div class="login-wrapper w-full flex flex-col gap-6">
  <h2>{{ 'resetPassword.title' | translate }}</h2>
  <p>{{ 'resetPassword.subtitle' | translate }}</p>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">

    <div class="form-field">
      <lib-input type="password" formControlName="password" [label]="'resetPassword.passwordLabel' | translate" placeholder="********"
        [errorMessage]="passwordError" />
    </div>

    <div class="form-field">
      <lib-input type="resetForm" formControlName="confirmPassword" [label]="'auth.confirmPasswordLabel' | translate" placeholder="********"
        [errorMessage]="passwordError" />
    </div>


    <div class="w-full mt-2">
      <lib-button type="submit" [label]="'resetPassword.submitButton' | translate" [loading]="isLoading()"
        [disabled]="resetForm.invalid || isLoading()" [color]="isDark() ? '#FFA6B9' : '#8D1C24'"
        styleClass="w-full py-3 text-base font-semibold" />
    </div>

  </form>

  <div class="divider border-b border-gray-200 w-full"></div>

  <div class="footer-container">
    <lib-question-repeat [question]="'resetPassword.needHelp' | translate" [answer]="'resetPassword.contactUs' | translate"
      [routerLink]="['/contact-us']" />
  </div>

</div>
