<div class="login-wrapper w-full flex flex-col gap-6">
  <h2>{{ 'forgotPassword.title' | translate }}</h2>
  <p>{{ 'forgotPassword.subtitle' | translate }}</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">

    <div class="form-field">
      <lib-input type="email" formControlName="email" [label]="'forgotPassword.emailLabel' | translate"
        placeholder="********" [errorMessage]="passwordError" />
    </div>


    <div class="w-full mt-2">
      <lib-button type="submit" [label]="'forgotPassword.submitButton' | translate" [loading]="isLoading()"
        [disabled]="form.invalid || isLoading()" [color]="isDark() ? '#FFA6B9' : '#8D1C24'"
        styleClass="w-full py-3 text-base font-semibold" />
    </div>

  </form>

  <div class="divider border-b border-gray-200 w-full"></div>

  <div class="footer-container">
    <lib-question-repeat [question]="'forgotPassword.noAccount' | translate"
      [answer]="'forgotPassword.createAccount' | translate" [routerLink]="['/register']" />
  </div>

</div>
