<div class="auth-container">

  <div class="auth-left">


    <div class="auth-content">

      <div class="auth-topbar">
        <button class="lang-btn" (click)="toggleLanguage()">
          {{ 'common.otherLanguage' | translate }}
        </button>
      </div>

      <div class="flourish">
        <img src="/assets/surrond.svg" alt="Top Svg" />
      </div>

      <div class=" auth-outlet">
        <router-outlet></router-outlet>
      </div>

      <div class="auth-footer">
        <div class="flourish" style="transform: scaleY(-1)">
          <div class="flourish">
            <img src="/assets/surrond.svg" alt="Top Svg" />
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="auth-right">
    <img src="/assets/auth_bg.png" alt="Luxury Gift Boxes" class="auth-hero-img" />
  </div>

</div>
