<section class="p-6 rounded-2xl border border-slate-100 bg-white p-6 shadow-sm md:p-8">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-xl font-bold text-gray-900">
      {{ 'dashboard.occasions.title'  | translate }}
    </h1>

    <button routerLink="/admin/occasions/add"
      class="bg-[#A6252A] text-white px-4 py-2 rounded-lg text-sm font-semibold flex items-center justify-center gap-2">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.58325 11.0002H17.4166M10.9999 4.5835V17.4168" stroke="white" stroke-width="2.08333"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="hidden md:inline">
        {{ 'dashboard.occasions.addAction'  | translate }}
      </span>
    </button>
  </div>

  <div class="toolbar">
    <div class="search-box">
      <span class="search-icon">⌕</span>
      <input
        type="search"
        [placeholder]="'dashboard.occasions.searchPlaceholder' | translate"
        [value]="search()"
        (input)="onSearch($event)"
      />
    </div>
  </div>

  <div class="table-shell">
    <app-reusable-table
      [data]="paginatedItems()"
      [columns]="columns"
      (actionClicked)="onTableAction($event)"
    >
    </app-reusable-table>
</div>

  <div class="pagination-wrap">
    <lib-pagination [totalRecords]="totalRecords()" (pageChange)="onPageChange($event)" />
  </div>
</section>
